.env
__MACOSX/
.venv/
ETL9G/
kanjicanvas_data/
unpack_etlcdb/
kanjicanvas/
dataset/
kanji-recognition-demo/dataset/
train.py
train_finetune.py
test_preprocess.py
train.py
train_stroke_finetune_fixed.py
merged_data/
kanji-recognition-demo/frontend/node_modules/
kanji-recognition-demo/backend/__pycache__/
kanji-recognition-demo/backend/user_data/
api_key.docx
api_whisper.py
clear_vram.py
infer_whisper.py
prepare_dataset.py
whisper-tiny-ja-best/
train_stroke_finetune.py
train_whisper_tiny.py
common-voice/
__pycache__/
audio-transcribe-demo/backend/storage/uploads/
audio-transcribe-demo/frontend/node_modules/
audio-transcribe-demo/frontend/dist/
frontend/node_modules/
frontend/dist/
model-transcribe-v1/
