.env
__MACOSX/
.venv/
ETL9G/
kanjicanvas_data/
unpack_etlcdb/
kanjicanvas/
dataset/
kanji-recognition-demo/dataset/
train.py
train_finetune.py
test_preprocess.py
train.py
train_stroke_finetune_fixed.py
merged_data/
kanji-recognition-demo/frontend/node_modules/
kanji-recognition-demo/backend/__pycache__/
kanji-recognition-demo/backend/user_data/